<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="bonfire"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      FotosGram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <app-posts [posts]="posts"></app-posts>

  <ion-infinite-scroll threshold="150px"  
    [disabled]="isDisabled"
    (ionInfinite)="paginate($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- infinite scroll -->
</ion-content>
